* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    overflow-x: hidden;
}

.header {
    background-image: url(../images/header-image.jpg);
    background-size: 100%;
    height: 700px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}
.responsive-custom-navbar {
    display: none !important;
}
.navigation-bar-main-wrapper {
    height: 60px;
    background: white;
    position: fixed;
    z-index: 999;
}
.navigation-bar-main-wrapper .company-logo {
    margin: auto;
}
.navigation-bar-main-wrapper .company-logo img {
    width: 100%;
}
.navigation-bar-main-wrapper .navigation-bar ul {
    display: flex;
    color: black;
    list-style-type: none;
    justify-content: flex-end;
}
.navigation-bar li {
    padding: 30px 20px 0;
    cursor: pointer;
}
.navigation-bar-main-wrapper li:hover {
    color: red;
    border-bottom: 3px solid red;
}
.navigation-bar-main-wrapper li.active {
    color: red;
    border-bottom: 3px solid red;
}

.header-heading .header-main-heading {
    font-size: 2.3vw;
    font-weight: 700;
}
.header-heading .header-sub-heading {
    font-size: 1.6vw;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}



/* banner-icon */
.header .banner-icon-main-wrapper p {
    color: white;
    text-align: center;
}
.header .banner-icon-main-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 280px;
    text-align: center;
}
.header  .banner-icon-image i {
    width: 45px;
    color: white;
    text-align: center;
}
.header .banner-icons-wrapper {
    width: 120px;
    text-align: center;
    margin: 10px;
}
.header .banner-icons-wrapper p {
    font-size: 14px;
    padding-top: 10px;
}
.header .banner-image-center-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* sponsor child start */
.sponsor-child {
    background-color: black;
    color: white;
    height: 640px;
    margin-top: 60px;
}
.sponsor-child .child-slider-section .child-info .child img {
        width: 110px;
}
.sponsor-child .child-slider-section .child-info .child-name {
    text-align: left;
}
.sponsor-child .sponsor-section-heading {
    font-size: 30px;
}
.sponsor-child img {
    width: 50px;
}
.sponsor-child .donation-amount .donation-button {
    text-align: center;
}
.sponsor-child .donation-amount .donation-button a {
    padding: 10px 40px;
    background-color: red;
    border-radius: 20px;
    color: white;
}
.sponsor-child .donation-amount .amount {
    font-size: 20px;
    color: white;
}
.sponsor-child .sponsor-child-footer ul li img {
    width: 25px;
}
.sponsor-child .sponsor-child-footer ul li {
    padding-right: 20px;
}
.sponsor-child .child-selection .child-selection-option p:hover {
    border-bottom: 5px solid red;
    width: 70%;
    margin: auto;
}
.sponsor-child .child-selection {
    height: 13%;
}
.sponsor-child .child-selection .child-selection-option p.active {
    border-bottom: 5px solid red;
    width: 70%;
    margin: auto;
}
.sponsor-child a {
    text-decoration: none;
    color: white;
}
/* .sponsor-child .custom-carousel-prev .custom-carousel-prev-icon,
.carousel-control-next-icon {
    top: -10%;
    position: absolute;
} */
/* sponsor child end */


.banner-line-section img {
    width: 100%;
}

/* account */
.account {
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
    padding-bottom: 70px;
}

.account .account-heading {
    font-size: 40px;
    padding: 40px 0px 30px 0px;
    font-weight: 700;
}
.account .account-main-wrapper img {
    width: 70px;
    text-align: center;
}
.account .account-main-wrapper {
    /* box-shadow: 0px 10px 30px 0px rgb(201 201 201 / 48%);
    background-color: white;
    border-radius: 20px; */
    padding: 40px;
}
.account .account-main-wrapper .account-main-heading {
    font-size: 20px;
    padding-bottom: 10px;
} 
.our-promise {
    width: 30%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    border: 1px solid #ccc;
    z-index: 99;
    background: #fff;
    padding: 40px;
    position: relative;
    bottom: -100px;
}
.our-promise .our-promise-image img {
    width: 60px;
}
.our-promise .our-promise-sub-heading {
    width: 70%;
    margin: 30px auto 20px;

}
.our-promise .our-promise-content ul {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: auto;
}
.our-promise .our-promise-content ul li {
    padding-right: 10px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 15px;
    list-style-type: square;
}


/* what sponsorship */
.what-sponsorship {
    background-image: url(../images/sponsonship-image.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    padding-bottom: 20px;
    
}
.what-sponsorship .sponsorship-heading {
    font-size: 30px;
    padding-top: 15%;
}
.what-sponsorship .sponsorship-content {
    font-size: 18px;
    padding-bottom: 30px;
}

/* testimonial */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none; */
  width: 11px;
    height: 20px;
    top: 50%;
    left: 50px;
    background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
.testimonial {
    height: 620px;
    background-image: url(../images/bg.pngs);
    background-size: 100% 100%;
    /* W3C */
}
.testimonial .testimonial-heading {
    font-size: 40px;
    padding-top: 70px;
}
.testimonial .testimonial-wrapper .quote img {
    width: 50px;
}
.testimonial .testimonial-wrapper .testimonial-message {
    position: relative;
    /* max-width: 60%; */
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
    left: 23%;
    top: 40px;
    font-size: 16px;
    width: 665px;
}
.testimonial .testimonial-wrapper .testimonial-message::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 17.5em;
    border: 0.75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
.testimonial .testimonial-wrapper .testimonial-message .testimonial-message-name {
    color: red;
    padding-top: 20px;
} 



/* footer */
.footer {
    padding-top: 50px;
}
.footer .footer-company-logo img {
    width: 70px;
}

.footer .footer-heading {
    font-size: 25px;
}
.footer .footer-text-field {
    border-radius: 40px;
}


@media screen and (max-width : 640px) {
    .main-container {
        overflow-x: hidden;
    }
    .responsive-custom-navbar {
        display: block !important;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 999;
    }
    .header .navbar .navbar-toggler {
        float: right;
    }
    .navigation-bar-main-wrapper {
        display: none;
    }
    .header {
        background-image: none;
    }
    .header .header-heading .header-main-heading {
        font-size: 10vw;
    }
    .header .header-heading .header-sub-heading {
        font-size: 8vw;
    }
    .account .account-main-wrapper {
        margin: 20px;
    }
    /* .header .custom-banner-image {
        display: none;
    } */


    /* Responsive navbar start */
    .navbar {
        background: white;
    }
    
    .navbar .navbar-brand img {
        width: 40%;
    }
    .navbar .navbar-brand {
        display: inline;
    }
    .navbar .navbar-toggler {
        float: right;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar .navbar-collapse {
        background:  white;
    }

    /* responsive navbar end */

    /* sponsor child start */
    .sponsor-child .child-selection .child-selection-option p {
        width: 90% !important;
        padding-bottom: 20px;
    }
    .sponsor-child {
        margin-top: 14%;
        width: 100%;
        height: 95%;
    }
    .sponsor-child .carousel-item .child-info .child {
        text-align: center;
    }
    .sponsor-child .child-slider-section .child-info .child-name {
        text-align: center;
        padding-top: 20px;
    }
    .sponsor-child .child-selection p {
        line-height: 8px;
    }

    /* banner-line start */
    .banner-line-section {
        display: none;
    }
    .testimonial {
        height: 700px;
    }
    .testimonial .testimonial-wrapper .testimonial-message {
        left: 0px;
        width: 100%;
        height: 200px;
        overflow: scroll;
    }
    .testimonial .testimonial-wrapper .testimonial-message::before {
        display: none;
    }
    .our-promise  {
        width: 90%;
    }
    .our-promise .our-promise-content ul {
        grid-template-columns: auto !important;
    }
    .our-promise .our-promise-sub-heading {
        width: 100%;
        margin: 30px auto 20px;
    }

    /* accounts */
    .account {
        margin-top: 40%;
    }


    .carousel-control-prev-icon,
.carousel-control-next-icon {
  /* height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: red;
}

}


